##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen       *:80;
    server_name  {{ galaxy_server_hostname }};

    location /.well-known/ {
        root {{ certbot_well_known_root }};
    }

    location / {
        return 302 https://$host$request_uri;
    }
}
