uwsgi:
    socket: 127.0.0.1:4002
    interactivetools_map: "{{ galaxy_mutable_data_dir }}/interactivetools_map.sqlite"
    python-raw: scripts/interactivetools/key_type_token_mapping.py
    route-host: ^([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)-([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.(interactivetool\.{{ galaxy_server_hostname }})$ goto:interactivetool
    route-run: goto:endendend
    route-label: interactivetool
    route-host: ^([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)-([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.(interactivetool\.{{ galaxy_server_hostname }})$ rpcvar:TARGET_HOST rtt_key_type_token_mapper_cached $1 $3 $2 $4 $0 5
    route-if-not: empty:${TARGET_HOST} httpdumb:${TARGET_HOST}
    route: .* break:404 Not Found
    route-label: endendend
